*{
	box-sizing: border-box;
}
.body{
	box-shadow: 0 0 20px rgb(165, 240, 230);
	border: 1px solid #6ebdb3;
	width: 70%;
	height: auto;
	padding: 20px 0px 20px 0px;
	margin: 3% 0% 3% 15%;
}
.top, .bottom{
	padding:0px 20px 0px 20px;
}
.column{
	width: calc(100% / 3);
	float: left;
	padding: 0px 20px 0px 20px;
}
img{
	max-width: 100%;
}